@use "colors" as c;

.container {
  background-color: c.$background;
  padding: 32px;
  padding-top: 70px;
  min-height: 200px;
  max-height: 90vh;
  position: relative;
  overflow: visible !important;
  color: c.$text;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;

  .close-button {
    position: absolute !important;
    left: 20px !important;
    top: 20px !important;
    z-index: 10000 !important;
    margin: 0 !important;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 99%;
  height: 99%;
}
